.cta__buttons > button:last-child {
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  &::before {
    transition: all 0.2s;
    content: "";
    background-color: rgba(75, 165, 250, 0.733);
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 2px;
    z-index: -1;
  }

  &:hover::before {
    height: 100%;
  }
}
