*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
  color: rgb(0, 0, 17);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

a,
button {
  cursor: pointer;
  font-family: inherit;
}
